**Objectives** :
- Extract information from the web site
- Write the scraped data into a csv file.

#### Extract information from the given web site

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [3]:
from bs4 import BeautifulSoup 
import requests

In [4]:
data = requests.get(url).text

In [5]:
soup = BeautifulSoup(data,"html.parser")

In [6]:
import pandas as pd
df = pd.read_html(url,header=0)[0]
df

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
0,1,Python,Guido van Rossum,"$114,383",Easy
1,2,Java,James Gosling,"$101,013",Easy
2,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,4,Javascript,Netscape,"$110,981",Easy
4,5,Swift,Apple,"$130,801",Easy
5,6,C++,Bjarne Stroustrup,"$113,865",Hard
6,7,C#,Microsoft,"$88,726",Hard
7,8,PHP,Rasmus Lerdorf,"$84,727",Easy
8,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
9,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

Save the scrapped data into a file named popular-languages.csv

In [7]:
df.to_csv("popular-languages.csv", index=False)