<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Finding Duplicates Lab**

Estimated time needed: **30** minutes

## Introduction

Data wrangling is a critical step in preparing datasets for analysis, and handling duplicates plays a key role in ensuring data accuracy. In this lab, you will focus on identifying and removing duplicate entries from your dataset.

## Objectives

In this lab, you will perform the following:

1. Identify duplicate rows in the dataset and analyze their characteristics.
2. Visualize the distribution of duplicates based on key attributes.
3. Remove duplicate values strategically based on specific criteria.
4. Outline the process of verifying and documenting duplicate removal.

## Hands on Lab

Install the needed library

In [1]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 164.2 MB/s eta 0:00:00
Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 186.3 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.2 tzdata-2025.2
Collecting matplotlib
  Downloading matplotlib-3.10.6-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.59.2-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (109 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.3)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.6-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 131.0 MB/s eta 0:00:00
Downloading contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (362 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.2-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 137.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 82.7 MB/s eta 0:00:00
Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 144.0 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.59.2 kiwisolver-1.4.9 matplotlib-3.10.6 pillow-11.3.0 pyparsing-3.2.3

Import pandas module

In [2]:
import pandas as pd

Import matplotlib

In [3]:
import matplotlib.pyplot as plt

## **Load the dataset into a dataframe**

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

In [4]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"
df = pd.read_csv(file_path)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

Load the data into a pandas dataframe:

Note: If you are working on a local Jupyter environment, you can use the URL directly in the pandas.read_csv() function as shown below:

In [5]:
# df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

## Identify and Analyze Duplicates

### Task 1: Identify Duplicate Rows
1. Count the number of duplicate rows in the dataset.
3. Display the first few duplicate rows to understand their structure.

In [6]:
## Write your code here
# Count duplicate rows
duplicate_count = df.duplicated().sum()
print("Number of duplicated rows:", duplicate_count)

#Display the first few duplicated rows
df.loc[df.duplicated()].head()

Number of duplicated rows: 20

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
65437,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65438,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65439,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
65440,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
65441,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Task 2: Analyze Characteristics of Duplicates
1. Identify duplicate rows based on selected columns such as MainBranch, Employment, and RemoteWork. Analyse which columns frequently contain identical values within these duplicate rows.
2. Analyse the characteristics of rows that are duplicates based on a subset of columns, such as MainBranch, Employment, and RemoteWork. Determine which columns frequently have identical values across these rows.

In [7]:
## Write your code here

# 1. Identfy duplicates based on selected columns
all_duplicate_entries = df[df.duplicated(subset=['MainBranch', 'Employment','RemoteWork'], keep=False)]
print(all_duplicate_entries.head(2))

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...

                                        EdLevel  \
0                     Primary/elementary school
1  Bachelor’s degree (B.A., B.S., B.Eng., etc.)

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0

  JobSatPoints_11 SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN          NaN        NaN                 NaN    NaN
1             0.0          NaN        NaN                 NaN    NaN

[2 rows x 114 columns]

In [9]:
# create the subset of duplicate rows
duplicates_subset = df[df.duplicated(
    subset=["MainBranch", "Employment", "RemoteWork"],
    keep=False
)]

In [11]:
# Count how often each combination appears
duplicate_counts_sorted = (
    duplicate_counts
    .sort_values(by="Count", ascending=False)
    .reset_index(drop=True)
)
duplicate_counts_sorted.head(20)   # show top 20

,MainBranch,Employment,RemoteWork,Count
0,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",15288
1,I am a developer by profession,"Employed, full-time",Remote,12196
2,I am a developer by profession,"Employed, full-time",In-person,7118
3,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Remote,2815
4,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Remote,1754
5,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",1479
6,I am a developer by profession,"Employed, full-time;Independent contractor, fr...","Hybrid (some remote, some in-person)",1169
7,I am a developer by profession,"Independent contractor, freelancer, or self-em...","Hybrid (some remote, some in-person)",990
8,"I am not primarily a developer, but I write co...","Employed, full-time",In-person,916
9,"I am not primarily a developer, but I write co...","Employed, full-time",Remote,695
10,I am a developer by profession,"Employed, part-time","Hybrid (some remote, some in-person)",438
11,I am a developer by profession,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",359
12,"I used to be a developer by profession, but no...","Employed, full-time","Hybrid (some remote, some in-person)",342
13,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",In-person,317
14,I am a developer by profession,"Employed, full-time;Student, full-time","Hybrid (some remote, some in-person)",303
15,I am a developer by profession,"Employed, part-time",Remote,293
16,I am a developer by profession,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",288
17,"I am not primarily a developer, but I write co...","Independent contractor, freelancer, or self-em...",Remote,224
18,I am a developer by profession,"Student, part-time;Employed, part-time","Hybrid (some remote, some in-person)",220
19,I am a developer by profession,"Employed, full-time;Student, part-time",Remote,213

In [12]:
# Analyze which columns frequently have identical values
similarities = (duplicates_subset[["MainBranch", "Employment", "RemoteWork"]]
                .apply(lambda col: col.value_counts().head()))
print("\nMost common duplicate values in selected columns:")
print(similarities)

Most common duplicate values in selected columns:
                                                    MainBranch  Employment  \
Employed, full-time                                        NaN     39048.0
Employed, full-time;Independent contractor, fre...         NaN      3558.0
Hybrid (some remote, some in-person)                       NaN         NaN
I am a developer by profession                         50173.0         NaN
I am learning to code                                   3847.0         NaN
I am not primarily a developer, but I write cod...      6471.0         NaN
I code primarily as a hobby                             3317.0         NaN
I used to be a developer by profession, but no ...      1482.0         NaN
In-person                                                  NaN         NaN
Independent contractor, freelancer, or self-emp...         NaN      4845.0
Not employed, but looking for work                         NaN      2341.0
Remote                                                     NaN         NaN
Student, full-time                                         NaN      4713.0

                                                    RemoteWork
Employed, full-time                                        NaN
Employed, full-time;Independent contractor, fre...         NaN
Hybrid (some remote, some in-person)                   22977.0
I am a developer by profession                             NaN
I am learning to code                                      NaN
I am not primarily a developer, but I write cod...         NaN
I code primarily as a hobby                                NaN
I used to be a developer by profession, but no ...         NaN
In-person                                              10925.0
Independent contractor, freelancer, or self-emp...         NaN
Not employed, but looking for work                         NaN
Remote                                                 20788.0
Student, full-time                                         NaN

### Task 3: Visualize Duplicates Distribution
1. Create visualizations to show the distribution of duplicates across different categories.
2. Use bar charts or pie charts to represent the distribution of duplicates by Country and Employment.

In [ ]:
# Distribution by Country
plt.figure(figsize=(10,5))
plt.barh(country_table["Country"], country_table["Duplicate Count"], 
         color="skyblue", edgecolor="black")
plt.title("Distribution of Duplicates by Country")
plt.xlabel("Number of Duplicates")
plt.ylabel("Country")
plt.show()

In [ ]:
# Distribution by Employment (Bar Chart)
# Distribution by Employment (Horizontal Bar Chart)
employment_counts = duplicates["Employment"].value_counts()

plt.figure(figsize=(10,6))
employment_counts.plot(kind="barh", color="lightgreen", edgecolor="black")
plt.title("Distribution of Duplicates by Employment")
plt.xlabel("Number of Duplicates")
plt.ylabel("Employment Type")
plt.show()

In [ ]:
# Distribution by Employment (Pie Chart)
plt.figure(figsize=(7,7))
employment_counts.plot(kind="pie", autopct="%1.1f%%", startangle=90, colors=plt.cm.Paired.colors)
plt.title("Duplicate Distribution by Employment")
plt.ylabel("")  
plt.show()

### Task 4: Strategic Removal of Duplicates
1. Decide which columns are critical for defining uniqueness in the dataset.
2. Remove duplicates based on a subset of columns if complete row duplication is not a good criterion.

In [ ]:
# Task 4: Remove duplicates based on complete row duplication
df_unique = df.drop_duplicates(keep="first")

print("Original dataset size:", len(df))
print("After removing complete duplicate rows:", len(df_unique))

## Verify and Document Duplicate Removal Process

### Task 5: Documentation
1. Document the process of identifying and removing duplicates.

Used df.duplicated() to detect and count duplicate rows.

Explored subsets (MainBranch, Employment, Country) but found they removed too many rows since many respondents share these attributes.

Visualized duplicates by Country and Employment to understand their distribution.

2. Explain the reasoning behind selecting specific columns for identifying and removing duplicates.

Chose to remove only complete row duplicates using:

df_unique = df.drop_duplicates(keep="first")


This ensures only exact duplicates are removed while preserving unique responses.

Reasoning:

Complete row removal is safest: it avoids losing valid variations.

Subset-based removal was rejected as it collapsed distinct respondents into fewer rows.

### Summary and Next Steps
**In this lab, you focused on identifying and analyzing duplicate rows within the dataset.**

- You employed various techniques to explore the nature of duplicates and applied strategic methods for their removal.
- For additional analysis, consider investigating the impact of duplicates on specific analyses and how their removal affects the results.
- This version of the lab is more focused on duplicate analysis and handling, providing a structured approach to deal with duplicates in a dataset effectively.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11- 05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-28|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.